{% extends "layout/base.html" %}
{% load static %}

{% block title %}로그인{% endblock title %}

{% block head %}
    {% include "layout/head.html" %}
{% endblock head %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock extra_css %}

{% block navi %}
    {% include "layout/navbar.html" %}
{% endblock navi %}

{% block content %}
    <section class="login-form">
        <h1>Login</h1>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="post" action="{% url 'accounts:login_user' %}">
            {% csrf_token %}
            <div class="int-area">
                <input type="text" name="username" id="username" autocomplete="off" required>
                <label for="username">USER NAME</label>
            </div>
            <div class="int-area">
                <input type="password" name="password" id="password" autocomplete="off" required>
                <label for="password">PASSWORD</label>
            </div>
            <div class="btn-area">
                <button type="submit">LOGIN</button>
            </div>
        </form>

        <div class="caption">
            <a href="{% url 'accounts:signup_user' %}">회원가입</a>
        </div>
    </section>
{% endblock content %}

{% block footer %}
    {% include "layout/footer.html" %}
{% endblock footer %}
