{% extends "layout/base.html" %}
{% load static %}

{% block title %}회원가입{% endblock title %}

{% block head %}
    {% include "layout/head.html" %}
{% endblock head %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock extra_css %}

{% block navi %}
    {% include "layout/navbar.html" %}
{% endblock navi %}

{% block content %}
    <section class="signup-form">
        <h1>Sign Up</h1>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="post" action="{% url 'accounts:signup_user' %}">
            {% csrf_token %}

            <div class="int-area">
                <input type="text" name="username" id="username" autocomplete="off" required>
                <label for="username">아이디</label>
            </div>

            <div class="int-area">
                <input type="password" name="password" id="password" autocomplete="off" required>
                <label for="password">비밀번호</label>
            </div>

            <div class="int-area">
                <input type="text" name="real_name" id="real_name" autocomplete="off" required>
                <label for="real_name">이름</label>
            </div>

            <div class="int-area">
                <input type="date" name="birthdate" id="birthdate" autocomplete="off" required class="active">
                <label for="birthdate">생년월일</label>
            </div>

            <div class="int-area">
                <select name="gender" id="gender" required>
                    <option value="" selected disabled></option>
                    <option value="F">여자</option>
                    <option value="M">남자</option>
                </select>
                <label for="gender">성별</label>
            </div>

            <div class="int-area">
                <select name="cold_sensitivity" id="cold_sensitivity" required>
                    <option value="" selected disabled></option>
                    <option value="민감">민감</option>
                    <option value="보통">보통</option>
                    <option value="둔감">둔감</option>
                </select>
                <label for="cold_sensitivity">추위 민감도</label>
            </div>

            <div class="int-area">
                <select name="heat_sensitivity" id="heat_sensitivity" required>
                    <option value="" selected disabled></option>
                    <option value="민감">민감</option>
                    <option value="보통">보통</option>
                    <option value="둔감">둔감</option>
                </select>
                <label for="heat_sensitivity">더위 민감도</label>
            </div>

            <div class="btn-area">
                <button type="submit">회원가입</button>
            </div>
        </form>

        <div class="caption">
            <a href="{% url 'accounts:login_user' %}">이미 계정이 있으신가요?</a>
        </div>
    </section>
{% endblock content %}

{% block footer %}
    {% include "layout/footer.html" %}
{% endblock footer %}
