{% extends "layout/base.html" %}
{% load static %}

{% block title %} 로또 번호 추첨 {% endblock title %}

{% block head %}
    {% include "layout/head.html" %}
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
{% endblock head %}  

{% block navi %}
    {% include "layout/navbar.html" %}
{% endblock navi %}


{% block content %}
    <h2 class="text-center mt-5 mb-4">로또 번호 추첨</h2>

    <!-- 가운데 정렬을 위한 래퍼 -->
    <div class="d-flex justify-content-center align-items-center flex-column lotto-wrapper">
        <div id="lottoArea" class="d-flex justify-content-center flex-wrap gap-3">
            {% for _ in "123456" %}
                <div class="rounded-circle d-flex align-items-center justify-content-center text-white lotto-ball"></div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block footer %}
    {% include "layout/footer.html" %}
{% endblock footer %}

{% block script %}
    <script src="{% static 'js/game/lotto.js' %}"></script>
{% endblock script %}