{% extends "layout/base.html" %}
{% load static %}

{% block title %} 가위바위보 {% endblock title %}

{% block head %}
    {% include "layout/head.html" %}
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
{% endblock head %}  

{% block navi %}
    {% include "layout/navbar.html" %}
{% endblock navi %}


{% block content %}
    <div class="container mt-5 text-center">
        <h2 class="mb-5">가위바위보 게임</h2>
        <h5 class="mb-3">현재 전적: <span id="record">0승 0무 0패</span></h5>

        <div class="row justify-content-center text-center">
            <!-- 당신 -->
            <div class="col-md-3">
                <div class="card rsp-card">
                    <img id="user-img" class="card-img-top" src="{% static 'game/rsp/gomdori.png' %}" alt="당신">
                    <div class="card-body">
                        <h5 class="card-title">당신</h5>
                        <div class="rsp-footer">
                            <button id="btn-scissor" class="btn btn-primary btn-sm m-1">가위</button>
                            <button id="btn-rock" class="btn btn-primary btn-sm m-1">바위</button>
                            <button id="btn-paper" class="btn btn-primary btn-sm m-1">보</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 심판 -->
            <div class="col-md-3">
                <div class="card rsp-card">
                    <img class="card-img-top" src="{% static 'game/rsp/gomdori.png' %}" alt="심판">
                    <div class="card-body">
                        <h5 class="card-title">심판</h5>
                        <p id="judge-text" class="rsp-footer">&nbsp;</p>
                    </div>
                </div>
            </div>

            <!-- 컴퓨터 -->
            <div class="col-md-3">
                <div class="card rsp-card">
                    <img id="com-img" class="card-img-top" src="{% static 'game/rsp/gomdori.png' %}" alt="컴퓨터">
                    <div class="card-body">
                        <h5 class="card-title">컴퓨터</h5>
                        <p class="rsp-footer">
                            <button id="com-choice" class="btn btn-outline-secondary btn-sm px-2 py-1 w-auto" disabled>랜덤 생성</button>
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock content %}

{% block footer %}
    {% include "layout/footer.html" %}
{% endblock footer %}

{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const btnScissor = document.getElementById("btn-scissor")
        const btnRock = document.getElementById("btn-rock")
        const btnPaper = document.getElementById("btn-paper")

        const userImg = document.getElementById("user-img")
        const comImg = document.getElementById("com-img")
        const comChoiceBtn = document.getElementById("com-choice")
        const judgeText = document.getElementById("judge-text")

        const rspList = ["가위", "바위", "보"]
        const rspImgMap = {
            "가위" : "{% static 'game/rsp/scissor.jpg' %}", 
            "바위" : "{% static 'game/rsp/rock.jpg' %}", 
            "보" : "{% static 'game/rsp/paper.jpg' %}"
        }

        
        let win = 0
        let draw = 0
        let lose = 0

        let result = ""

        // 결과 판정
        function judgeResult(user, com) {
            if (user === com) {
                draw++
                result = "비겼습니다."
            }

            else if ((user === "가위" && com === "보") || (user === "바위" && com === "가위") || (user === "보" && com === "바위")) {
                win++
                result = "당신이 이겼습니다."
            }

            else {
                lose++
                result = "컴퓨터가 이겼습니다."
            }

            return result
        }

        function updateRecord() {
            document.getElementById("record").textContent = `${win}승 ${draw}무 ${lose}패`
        }

        function run(userChoice) {
            // 사용자 이미지 변경
            userImg.src = rspImgMap[userChoice]

            // 컴퓨터 랜덤 선택
            const comChoice = rspList[Math.floor(Math.random() * 3)]
            comImg.src = rspImgMap[comChoice]
            comChoiceBtn.textContent = comChoice

            // 심판 결과
            judgeText.textContent = judgeResult(userChoice, comChoice)
            updateRecord()
            
            console.log(userChoice, comChoice)
        }

        // 버튼 이벤트 등록 
        btnScissor.addEventListener("click", () => run("가위"))
        btnRock.addEventListener("click", () => run("바위"))
        btnPaper.addEventListener("click", () => run("보"))
    })
</script>
{% endblock script %}