{% extends "layout/base.html" %}
{% load static %}

{% block title %} 가위바위보 {% endblock title %}

{% block head %}
    {% include "layout/head.html" %}
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
{% endblock head %}  

{% block navi %}
    {% include "layout/navbar.html" %}
{% endblock navi %}


{% block content %}
    <div class="container mt-5 text-center">
        <h2 class="mb-5">가위바위보 게임</h2>
        <h5 class="mb-3">현재 전적: <span id="record">0승 0무 0패</span></h5>

        <div class="row justify-content-center text-center">
            <!-- 당신 -->
            <div class="col-md-3">
                <div class="card rsp-card">
                    <img id="user-img" class="card-img-top" src="{% static 'game/rsp/gomdori.png' %}" alt="당신">
                    <div class="card-body">
                        <h5 class="card-title">당신</h5>
                        <div class="rsp-footer">
                            <button id="btn-scissor" class="btn btn-primary btn-sm m-1">가위</button>
                            <button id="btn-rock" class="btn btn-primary btn-sm m-1">바위</button>
                            <button id="btn-paper" class="btn btn-primary btn-sm m-1">보</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 심판 -->
            <div class="col-md-3">
                <div class="card rsp-card">
                    <img class="card-img-top" src="{% static 'game/rsp/gomdori.png' %}" alt="심판">
                    <div class="card-body">
                        <h5 class="card-title">심판</h5>
                        <p id="judge-text" class="rsp-footer">&nbsp;</p>
                    </div>
                </div>
            </div>

            <!-- 컴퓨터 -->
            <div class="col-md-3">
                <div class="card rsp-card">
                    <img id="com-img" class="card-img-top" src="{% static 'game/rsp/gomdori.png' %}" alt="컴퓨터">
                    <div class="card-body">
                        <h5 class="card-title">컴퓨터</h5>
                        <p class="rsp-footer">
                            <button id="com-choice" class="btn btn-outline-secondary btn-sm px-2 py-1 w-auto" disabled>랜덤 생성</button>
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock content %}

{% block footer %}
    {% include "layout/footer.html" %}
{% endblock footer %}

{% block script %}
    <script src="{% static 'js/game/rsp.js' %}"></script>
{% endblock script %}