{% extends "layout/base.html" %}
{% load static %}

{% block title %}
  게시판 - 뭐입지?
{% endblock title %}

{% block head %}
  {% include "layout/head.html" %}
{% endblock head %}

{% block navi %}
  {% include "layout/navbar.html" %}
{% endblock navi %}

{% block content %}
<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold">게시글 목록</h2>
    <div class="d-flex align-items-center gap-2">
    <form method="get" class="m-0">
        <select name="category" onchange="this.form.submit()" class="form-select w-auto">
            <option value="">전체</option>
            <option value="일반" {% if request.GET.category == "일반" %}selected{% endif %}>일반</option>
            <option value="코디" {% if request.GET.category == "코디" %}selected{% endif %}>코디</option>
        </select>
    </form>
    <a href="{% url 'board:post_create' %}" class="btn btn-primary ms-3">글 작성</a>
    </div>
    
  </div>

  <div class="list-group">
    {% for post in posts %}
    <a href="{% url 'board:post_detail' post.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div class="py-4">
            <span class="text-secondary">[{{ post.category }}]</span>
            <span class="ms-1 fw-semibold" style="font-size: 18px;">{{ post.title }}</span>
        </div>

        <div>
            <small class="text-muted">{{post.author.username}}</small>
            <!-- 작성일 : 오늘 작성글이면 시간만 / 올해 작성글이면 월 일 시간 / 그 외엔 년 월 일 시간 -->
            <small class="text-muted">
                {% if post.created_at.date == today %}
                    {{ post.created_at|time:"P" }}
                {% elif post.created_at.year == today.year %}
                    {{ post.created_at|date:"n월 j일 A g:i" }}
                {% else %}
                    {{ post.created_at|date:"Y년 n월 j일 A g:i" }}
                {% endif %}
            </small>
        </div>

    </a>
    {% empty %}
    <div class="text-center text-muted">아직 등록된 게시글이 없습니다.</div>
    {% endfor %}
  </div>

  <!-- 페이지네이션 -->
  <div class="d-flex justify-content-center mt-4">
    <nav>
      <ul class="pagination">
        {% if posts.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ posts.previous_page_number }}">이전</a>
        </li>
        {% endif %}
        {% for num in posts.paginator.page_range %}
        <li class="page-item {% if posts.number == num %}active{% endif %}">
          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endfor %}
        {% if posts.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ posts.next_page_number }}">다음</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endblock content %}



{% block footer %}
  {% include "layout/footer.html" %}
{% endblock footer %}
