{% extends "layout/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
  게시판 - 뭐입지?
{% endblock title %}

{% block head %}
    {% include "layout/head.html" %}
{% endblock head %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/board.css' %}">
{% endblock extra_css %}

{% block navi %}
  {% include "layout/navbar.html" %}
{% endblock navi %}

{% block content %}
    <div class="container my-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="fw-bold">게시글 목록</h2>
            <div class="d-flex align-items-center gap-2">
                <!-- 카테고리 선택 -->
                <form method="get" class="d-flex align-items-center m-0">
                    <select name="category" onchange="this.form.submit()" class="form-select w-auto me-2">
                        <option value="">전체</option>
                        <option value="일반" {% if request.GET.category == "일반" %}selected{% endif %}>일반</option>
                        <option value="코디" {% if request.GET.category == "코디" %}selected{% endif %}>코디</option>
                    </select>

                    <!-- 검색창 추가 -->
                    <input type="text" name="search" class="form-control form-control-sm w-auto search-input" 
                        placeholder="검색어 입력" value="{{ search_query|default_if_none:'' }}">
                    <button type="submit" class="btn btn-custom-blue ms-2">검색</button>
                </form>
                <a href="{% url 'board:post_create' %}" class="btn btn-custom-blue ms-3">글 작성</a>
            </div> 
        </div>

        <!-- 게시글 목록 -->
        <div class="list-group">
            {% for post in posts %}
                <a href="{% url 'board:post_detail' post.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div class="py-4">
                        <span class="text-muted">[{{ post.category }}]</span>
                        <span class="ms-1 fw-semibold post-title">{{ post.title }}
                            {% if post.comments.count > 0 %}
                                <span class="text-muted fw-normal">({{ post.comments.count }})</span>
                            {% endif %}
                        </span>
                    </div>

                    <div class="d-flex align-items-center justify-content-end gap-2 post-meta">
                        <small class="text-muted">{{ post.author.username }}</small>

                        {% if post.updated_at != post.created_at %}
                            <div class="d-flex flex-column text-end">
                                <small class="text-muted">
                                    {{ post.created_at|custom_time }}
                                    작성
                                </small>
                                <small class="text-muted">
                                    {{ post.updated_at|custom_time }}
                                    수정
                                </small>
                            </div>
                        {% else %}
                            <small class="text-muted">
                                {{ post.created_at|custom_time }}
                                작성
                            </small>
                        {% endif %}
                    </div>
                </a>


            {% empty %}
                <div class="text-center text-muted">아직 등록된 게시글이 없습니다.</div>
            {% endfor %}
        </div>

        <!-- 페이지네이션 -->
        <div class="d-flex justify-content-center mt-4">
            <nav>
                <ul class="pagination">
                    {% if posts.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ posts.previous_page_number }}">이전</a>
                        </li>
                    {% endif %}

                    {% for num in posts.paginator.page_range %}
                        <li class="page-item {% if posts.number == num %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}

                    {% if posts.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ posts.next_page_number }}">다음</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock content %}



{% block footer %}
  {% include "layout/footer.html" %}
{% endblock footer %}
