{% load static %}

<!DOCTYPE html>
<html lang="ko">

  {% block head %}
    {% include "layout/head.html" %}
  {% endblock head %}

  <body class="d-flex flex-column min-vh-100">

    {% block navi %}
      {% include "layout/navbar.html" %}
    {% endblock %}

    <main class="flex-grow-1">
      {% block header %}{% endblock header %}
      {% block content %}{% endblock content %}
    </main>

    {% block footer %}
      {% include "layout/footer.html" %}
    {% endblock footer %}

    {% block script %}{% endblock script %}
  </body>
</html>
