{% load static %}

<!DOCTYPE html>
<html lang="ko">
  
  <head>
    {% block head %}
      {% include "layout/head.html" %}
    {% endblock head %}

    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body class="d-flex flex-column min-vh-100">

    {% block navi %}
      {% include "layout/navbar.html" %}
    {% endblock %}

    <!-- 메시지 출력: 로그인 페이지에서는 숨기기 -->
    {% if messages and not request.path == '/accounts/login/' %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} text-center">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <main class="flex-grow-1">
      {% block header %}{% endblock header %}
      {% block content %}{% endblock content %}
    </main>

    {% block footer %}
      {% include "layout/footer.html" %}
    {% endblock footer %}

    {% block script %}{% endblock script %}
  </body>
</html>
